[MASTER]
init-hook='import sys, os; sys.path.insert(0, os.path.join(os.getcwd(), "src/python"))'
jobs=4

[MESSAGES CONTROL]
disable=
    missing-module-docstring,
    missing-function-docstring,
    invalid-name,
    too-many-locals,
    duplicate-code,
    import-error

[FORMAT]
max-line-length=88
